@charset "utf-8";

/** default css **/

html { font-size: 100%; background:#819bbc; }
html,body { font-family: 'Roboto', sans-serif; font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; width:100%; height:100%; margin:0; padding:0; }
form { margin:0; padding:0; }
input { font-family: 'Roboto', sans-serif; font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
select { font-family: 'Roboto', sans-serif; font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; overflow:hidden;}
textarea { font-family: 'Roboto', sans-serif; font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
button { border:none; cursor:pointer; font-family: 'Roboto', sans-serif; font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

.screen {}
.screen .item { width:100%; padding:10px; clear:both; box-sizing:border-box; }
.screen .item .name { display:block; margin:0 0 .5em 0; color:#ffffff; font-weight:bold; font-size:.8em; }
.screen .item .name img { width:40px; height:40px; border-radius:2px; }
.screen .item .message { display: inline-block; padding:.5em .7em; word-break:break-all; font-size:.9em; background:#fff; box-shadow:1px 1px 1px rgba(0, 0, 0, 0.2); border-radius:15px 15px 15px 15px; float:left; max-width:calc(100% - 90px); margin:0 5px 0 0; }
.screen .item .info{ display: inline-block; font-size:.5em; color:#ffffff; }
.screen .item .info .time{ display:block;}
.screen .item .info .text{ display:none; }
.screen .self .message { background:#b1ed89; float:right; margin:0 0; text-align:left; }
.screen .self { float:right; text-align:right; }
.screen .self .info { margin:0 5px 0 0; }
.screen .self .info .text{ display:block; }
.screen .space { clear:both; display:block; height: 100px; }

.controll { position:fixed; bottom:0; width:100%; background:#ffffff; }
.controll .input #message{ border:none; margin:0; font-size:20px; padding:10px; height:45px; box-sizing:border-box; width:calc(100% - 135px); resize:none; }
.controll .input .bt { border:none; margin:0; font-size:20px; padding:4px; width:45px; height:45px; box-sizing:border-box;}
.controll .input .bt-submit{ background:#5785E5; color:#fff; float:right; }
.controll .input .bt-button{ background:#fff; color:#7e86a4; float:left; }
.controll .input .bt .icon { margin-top:5px; margin-left:5px; }

.hidden { display:none; }
